
.friends-diary {
    margin-top: 50px;
}
.friends-diary .friends-diary-title {
    text-align: center;
    font-weight:normal;
}
.friends-diary .friends-diary-title p {
    margin-top: 10px;
    color: #666;
}

.friends-diary .friends-diary-list {
    width: 780px;
    margin: 15px auto;
    list-style: none;
    overflow: hidden;
}

.friends-diary .friends-diary-list li {
    float:left;
    padding: 15px;
}

.friends-diary .friends-diary-list .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}